parameters:
    database_host: 127.0.0.1
    database_port: null
    database_name: {{ bdd_name }}
    database_user: {{ bdd_user }}
    database_password: {{ bdd_password }}
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    secret: ThisTokenIsNotSoSecretChangeIt
